.contact-form {
    width: 80%;
    height: 100%;
    background: rgba(200, 200, 200, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    position: relative
}

.contact-form-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #bebed2
}

.contact-form-input:focus {
    border-bottom: 2px solid #78788c
}

.contact-form-label:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a
}

.contact-form-submit {
    float: right;
    padding: 8px 12px;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid white;
    background: #78788c;
    color: white;
    cursor: pointer;
    transition: all .3s;
    transform: translate(0, 40px);
}

.contact-form-submit:hover {
    background: lightsalmon;
}

.contact-form-details {
    content: 'Hi';
    position: absolute;
    bottom: -15px;
    right: -20px;
    background: #50505a;
    color: #fff;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000
}

.contact-emblem {
    margin: 0 5px 0 15px
}

.contact-extras {
    text-decoration: none;
    color: white;
}