.home-content {
    padding: 2%;
    margin: 20px;
    background: rgba(255, 255, 255, 0.7);
    text-align: justify;
    border-radius: 5px;
}

.lst-kix_ukqbz0acvcyp-3>li:before {
    content: "-  "
}

.lst-kix_ukqbz0acvcyp-5>li:before {
    content: "-  "
}

.lst-kix_ukqbz0acvcyp-2>li:before {
    content: "-  "
}

.lst-kix_ukqbz0acvcyp-6>li:before {
    content: "-  "
}

.lst-kix_ukqbz0acvcyp-4>li:before {
    content: "-  "
}

.lst-kix_ukqbz0acvcyp-0>li:before {
    content: "-  "
}

.lst-kix_ukqbz0acvcyp-1>li:before {
    content: "-  "
}

.lst-kix_f8pcuunjgmrw-3>li:before {
    content: "-  "
}

.lst-kix_f8pcuunjgmrw-2>li:before {
    content: "-  "
}

.lst-kix_2n0c8wcaypba-4>li:before {
    content: "\0025cb  "
}

.lst-kix_2n0c8wcaypba-6>li:before {
    content: "\0025cf  "
}

ul.lst-kix_ukqbz0acvcyp-8 {
    list-style-type: none
}

.lst-kix_f8pcuunjgmrw-0>li:before {
    content: "-  "
}

ul.lst-kix_ukqbz0acvcyp-6 {
    list-style-type: none
}

.lst-kix_f8pcuunjgmrw-1>li:before {
    content: "-  "
}

ul.lst-kix_ukqbz0acvcyp-7 {
    list-style-type: none
}

.lst-kix_2n0c8wcaypba-3>li:before {
    content: "\0025cf  "
}

.lst-kix_2n0c8wcaypba-7>li:before {
    content: "\0025cb  "
}

ul.lst-kix_ukqbz0acvcyp-4 {
    list-style-type: none
}

ul.lst-kix_ukqbz0acvcyp-5 {
    list-style-type: none
}

ul.lst-kix_ukqbz0acvcyp-2 {
    list-style-type: none
}

ul.lst-kix_ukqbz0acvcyp-3 {
    list-style-type: none
}

ul.lst-kix_ukqbz0acvcyp-0 {
    list-style-type: none
}

ul.lst-kix_ukqbz0acvcyp-1 {
    list-style-type: none
}

.lst-kix_2n0c8wcaypba-5>li:before {
    content: "\0025a0  "
}

.lst-kix_2n0c8wcaypba-0>li:before {
    content: "\0025cf  "
}

.lst-kix_2n0c8wcaypba-2>li:before {
    content: "\0025a0  "
}

.lst-kix_2n0c8wcaypba-1>li:before {
    content: "\0025cb  "
}

.lst-kix_2n0c8wcaypba-8>li:before {
    content: "\0025a0  "
}

ul.lst-kix_2n0c8wcaypba-1 {
    list-style-type: none
}

ul.lst-kix_2n0c8wcaypba-2 {
    list-style-type: none
}

ul.lst-kix_2n0c8wcaypba-0 {
    list-style-type: none
}

ul.lst-kix_2n0c8wcaypba-5 {
    list-style-type: none
}

.lst-kix_f8pcuunjgmrw-4>li:before {
    content: "-  "
}

ul.lst-kix_f8pcuunjgmrw-8 {
    list-style-type: none
}

ul.lst-kix_2n0c8wcaypba-6 {
    list-style-type: none
}

ul.lst-kix_f8pcuunjgmrw-7 {
    list-style-type: none
}

ul.lst-kix_2n0c8wcaypba-3 {
    list-style-type: none
}

.lst-kix_f8pcuunjgmrw-5>li:before {
    content: "-  "
}

ul.lst-kix_f8pcuunjgmrw-6 {
    list-style-type: none
}

ul.lst-kix_2n0c8wcaypba-4 {
    list-style-type: none
}

ul.lst-kix_f8pcuunjgmrw-5 {
    list-style-type: none
}

.lst-kix_f8pcuunjgmrw-6>li:before {
    content: "-  "
}

ul.lst-kix_2n0c8wcaypba-7 {
    list-style-type: none
}

ul.lst-kix_2n0c8wcaypba-8 {
    list-style-type: none
}

.lst-kix_f8pcuunjgmrw-7>li:before {
    content: "-  "
}

.lst-kix_f8pcuunjgmrw-8>li:before {
    content: "-  "
}

ul.lst-kix_f8pcuunjgmrw-4 {
    list-style-type: none
}

ul.lst-kix_f8pcuunjgmrw-3 {
    list-style-type: none
}

ul.lst-kix_f8pcuunjgmrw-2 {
    list-style-type: none
}

.lst-kix_ukqbz0acvcyp-7>li:before {
    content: "-  "
}

ul.lst-kix_f8pcuunjgmrw-1 {
    list-style-type: none
}

ul.lst-kix_f8pcuunjgmrw-0 {
    list-style-type: none
}

.lst-kix_ukqbz0acvcyp-8>li:before {
    content: "-  "
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c2 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c7 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c0 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c1 {
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    color: #1155cc;
    text-decoration: underline
}

.c6 {
    background-color: #ffffff;
    max-width: 451.4pt;
    padding: 72pt 72pt 72pt 72pt
}

.c5 {
    color: inherit;
    text-decoration: inherit
}

.c4 {
    font-weight: 700
}

.c3 {
    height: 11pt
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}