.notice-editor-wrapper {
    width: 95%;
    margin-left: 2%;
}

.notice-editor-info {
    color: red;
    border-radius: 10px;
    margin: 5px;
}

.notice-editor-form {
    padding: 1.2%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.notice-editor-form-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    border-radius: 10px;
    padding: 1.2%;
    width: 60%;
    margin-bottom: 10px;
    font-weight: bold;
}

.notice-editor-form-body {
    height: 250px;
    width: 95%;
    border-radius: 10px;
    padding: 1.2%;
}

.notice-editor-form-submit {
    background-color: aqua;
    border: none;
    height: 40px;
    width: 15%;
    border-radius: 10px;
    cursor: pointer;
}

.notice-editor-form-submit:hover {
    background-color: lightyellow;
}