.search-wrapper {
    text-align: center;
}

#search-bar:focus {
    width: 60vw;
    text-align: center;
}

#search-bar {
    text-align: center;
    width: 50vw;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* input[type=submit] {
    width: 10vw;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
} */